# Clustering hands-on
###  Penguins!

In [2]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

print(sns.get_dataset_names())
df = sns.load_dataset('penguins')
df.head()

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'taxis', 'tips', 'titanic']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

## Deal With Missing Values

1. Display every rows with missing value
2. Resolve the missing value issues

## Explore the data via visualizations

Use pairplot or other visualizations per feature.

## Prepare the dataset

* Check the data quality and outliers
* Determine which columns to use
* Scaling

## Clustering: - use K-means as it is one of the easiest

* Try to use elbow rule to determine how many clusters to use.
* Evaluate it with a score of your choosing (e.g. Silhouette)

## Describe and visualize the clusters

* Check whether the cluster corresponds with a species, Island, or something.

## (BONUS) Try to visualize the clusters vie t-SNE manifold or PCA based transformation.